/*
color
#f7e7cd
#fcf2e3
#303030
#4d4a46
#fff654
#ff5233
#194bff
*/

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fcf2e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4d4a46;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#parent {
  width: 95%;
}

#section {
  color: #303030;
  text-align: left;
  padding: 30px;
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

#smaller {
  font-size: 70%;
}

.label {
  color: white;
  margin: 8px;
  padding: 5px;
  background-color: #303030;
  border-radius: 10px;
  font-size: 60%;
  min-width: 30px;
  text-align: center;
}

#labels {
  display: flex;
  flex-wrap: wrap;
}

.top-of-page {
  margin: 50px;
  margin-top: 60px;
  transition: 0.4s;
}

#top {
  transition: 0.4s;
}

#title {
  text-align: left;
  padding: 30px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.projectLink a:link {
  color: #265301;
}

.projectLink a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

.projectLink a:hover {
  border-bottom: 5px solid;
  background: #CDFEAA;
}

.projectLink a:active {
  background: #265301;
  color: #CDFEAA;
}

#date {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-orientation: mixed;
  text-align: center;
  margin: 0 10px 0 0;
  width: 30px;
}

.profile {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
}

.frame {
  display:flex;
  align-items: center;
}

#profile-pic {
  width: 200px;
  height: 200px;
}

#profile-name {
  text-align: left;
  margin-left: 30px;
}

/*------- Responsive CSS Style -------*/

@media screen and (max-width: 399px) {
  #section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .label { margin: 5px; }
  #profile-pic {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 400px) {
  #parent { width: 400px; }
}

@media screen and (min-width: 600px) {
  #parent { width: 600px; }
}

@media screen and (min-width: 800px) {
  #parent { width: 800px; }
}
